body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  background-image: linear-gradient(to right, skyblue, lightgreen);
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

form {  
  border-radius:50px;
  width:350px;
  height:300px;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: all 1s ease;
}

.extra-info {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.none-dis {
  display: none;
}

.f-box-shadow{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-name, .pass-word, .but-ton {
  margin-top: 20px;
}

h1 {  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
  margin: 20px;
  font-size: large;
}

input[type=text], input[type=password] {
  width: 90%;
  border: none;
  outline: none;
  box-sizing: border-box;
  height: 40px;
  font-size: 15px;
  padding-left: 20px;
  background-color: transparent;  
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin:5px 20px 0; 
  border-bottom: 1px solid black;
}

input[type=password] {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin:0 20px 5px; 
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

input:hover, input:focus, input[type=button], textarea {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1, .but-ton, .edit {
  text-align: center;
}

textarea {
  width: 80%;
  height: 100px;
  margin-bottom: 30px;
  resize: none;
  border: none;
  background-color: #000000;
  color: white;
  border-radius:20px;
  outline: none;
  padding: 10px;
}

input[type=button] {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 40%;
  font-size: large;
  border-radius: 40px;
  outline: none;
}

table{
  text-align: left;
  padding: 20px;
}

.note {
  text-align: center;
  font-size: small;
}

td, th {
  padding-left: 40px;
}

#lis-button, #back-button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#close-button {
  margin-left: 20px;
}

#back-button {
  margin-left: 20px;  

}
#run-button {
  margin-right: 20px;  
  margin-bottom: 20px;  
}